* {
  font-family: Georgia, serif;
}

body {
  padding-bottom: 70px;
}

.mainContent {
  padding-top: 2%;
}

.myForm {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerText {
  text-align: center;
}

.linkButton {
  margin: 0.25em;
}

h3 {
  text-decoration: underline;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.tutorial-text {
  color: red;
}

.mytooltip > .tooltip-inner {
  max-width: 100%;
}