* {
  font-family: Georgia, serif;
}

body {
  padding-bottom: 70px;
}

.mainContent {
  padding-top: 2%;
}

.centerText {
  text-align: center;
}

.home {
  text-align: center;
  margin-top: 15%;
}

.linkButton {
  margin: 0.25em;
}

h3 {
  text-decoration: underline;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.tutorial-text {
  color: red;
}

.mytooltip > .tooltip-inner {
  max-width: 100%;
}
